@model SchedulerWebApp.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


@Html.Partial("_GlobalPageHeader", ViewData["heading"] = "Contact us")

<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Write to us</h2>
                    <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        We would like to hear from you. Tell us your experience using our website. Sugestions on how we can improve are welcome and highly appreciated.
                    </p>
                    <div class="contact-form">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model => model.Code)


                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.Password, new { id = "password", @class = "form-control", placeholder = "Password" })
                                    <div id="passwordIcon" class="input-group-addon zero-radius">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                                <div class="input-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { id = "confirmPassword", @class = "form-control", placeholder = " Confirm password" })
                                    <div id="confirmPasswordIcon" class="input-group-addon zero-radius">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                <button type="submit" class="btn btn-default btn-send btn-block zero-radius form_element-height">Reset password</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        showHidePassword('#passwordIcon', '#password');
        showHidePassword('#confirmPasswordIcon', '#confirmPassword');
    </script>
}
