@model SchedulerWebApp.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<div class="centered-div">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.OldPassword, new { id = "oldPassword", @class = "form-control" })
                        <div id="oldPasswordIcon" class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></div>
                    </div>
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.NewPassword, new { id = "newPassword", @class = "form-control" })
                        <div id="newPasswordIcon" class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></div>
                    </div>
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { id = "confirmPassword", @class = "form-control" })
                        <div id="confirmPasswordIcon" class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Change password" class="btn btn-info btn-block" />
                </div>
            </div>
        }
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")

    <script type="text/javascript">
        showHidePassword('#oldPasswordIcon', '#oldPassword');
        showHidePassword('#newPasswordIcon', '#newPassword');
        showHidePassword('#confirmPasswordIcon', '#confirmPassword');

        // centrelizeDiv(-350, false)

    </script>
}
