@model SchedulerWebApp.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "My Account";
}

@Html.Partial("_GlobalPageHeader", ViewData["heading"] = "My account")

<section id="contact-section">
    <div class="container">
        <div class="row center-div">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-heading"></div>


                <p class="text-success">@ViewBag.StatusMessage</p>


                <form class="contact-form">
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <span data-toggle="tooltip" data-placement="left" title="Field name can not be edited">
                            <input type="text" class="form-control" disabled="true" value="@Model.User.FirstName @Model.User.LastName" />
                        </span>
                    </div>

                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">

                        <span data-toggle="tooltip" data-placement="left" title="Email(User name) can not be edited">
                            <input type="text" class="form-control" disabled="true" value="@Model.User.Email" />
                        </span>
                    </div>

                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <span data-toggle="tooltip" data-placement="left" title="Hidden password, change it below">
                            <input type="password" class="form-control" disabled="true" value="Hiddenvalue" />
                        </span>

                        <br />
                        <p>
                            @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))
                        </p>
                    </div>

                    @if (Model.Logins.Count != 0)
                    {
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            <label class="control-label col-sm-4">External Logins</label>
                            <div class="col-sm-8">
                                <span data-toggle="tooltip" data-placement="left" title="Number of external accounts">
                                    <input type="text" class="form-control" disabled="true" value="@Model.Logins.Count" />
                                </span>
                                <br />
                                <p>
                                    @Html.ActionLink("Manage", "ManageLogins")
                                </p>
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script type="text/javascript">
        (function () {
            toolTipInit();
        })();
    </script>

}