@model SchedulerWebApp.Models.Event

@{
    ViewBag.Title = Model.Title + " details";
}
@section styles
{
    @Styles.Render("~/Content/dataTablesStyles")
}

@Html.Partial("_GlobalPageHeader", ViewData["heading"] = "Response")

<section id="contact-section">
    <div class="container">
        <div class="row">
            <!--Participant column-->
            @Html.Partial("_ParticipantColumn")
            
            <div class=" col-md-3 col-sm-4">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2 class="subtitle wow fadeInRight" data-wow-duration="500ms" data-wow-delay=".3s">Event</h2>
                    <div class="well well-sm event-details-well">
                        @Html.Partial("_EventTableDetails")
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript">
        $(function () {
            makeTableResponsive("detailsTable", 1, 2);

            grayOutAbsentees();

            toolTipInit();

            $('#participantTable').on('page.dt', function () {

                $(this).on('draw.dt', function () {
                    grayOutAbsentees();
                    toolTipInit();
                });

            });
        });
    </script>
}