@model SchedulerWebApp.Models.Event

@{
    ViewBag.Title = Model.Title + " details";
}
@section styles
{
    @Styles.Render("~/Content/dataTablesStyles")
}
<div class="col-md-8 col-md-offset-2">
    <h1>@Model.Title details</h1>
    <hr />
    @Html.Partial("_Details")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/custom")
    <script type="text/javascript">
        $(function () {
            makeTableResponsive("detailsTable", 1, 2);

            grayOutAbsentees();

            $("[data-toggle=tooltip]").tooltip();

            grayOutAbsenteesOnextPreviousPage();
        });
    </script>
}