@model SchedulerWebApp.Models.Contact

@{
    ViewBag.Title = "New contact";
}

@Html.Partial("_GlobalPageHeader", ViewData["heading"] = "New contact")

<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block">

                    @using (Html.BeginForm("Create", "Contacts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="contact-form">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", placeholder = "First name" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last name" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".9s">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone: 079 123 45 67 (Optional)" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.1s">
                                <button id="saveButton" type="submit" class="btn btn-info btn-send  form-control zero-radius form_element-height">Save</button>
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.3s">
                                @Html.ActionLink("Back to List", "Index", null, new { id = "cancelButton", @class = "btn btn-info zero-radius form-control form_element-height" })
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function () {

            $('#saveButton').on('click', function () {
                onValidFormSubmit("saveButton", "saving");
            });
        })();
    </script>
}
