@model SchedulerWebApp.Models.Contact

@{
    ViewBag.Title = "Delete";
}


@Html.Partial("_GlobalPageHeader", ViewData["heading"] = "Deleting " + Model.FirstName + " " + Model.LastName)

<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Warning!!</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                You are about to delete this contact,
                <br> Are you sure of this a action?
            </p>
        </div>
        <div class="row"> 
            @Html.Partial("_ContactDetailsIcon")
            <div class="col-md-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    @Html.Partial("_ContantDetails")
                    <div class="row">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-danger zero-radius form_element-height">Confrm delete</button>
                            </div>
                            <div class="form-group">
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-info btn-block zero-radius form_element-height" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>