@model SchedulerWebApp.Models.Contact

@{
    ViewBag.Title = "Details";
}



<div class="col-md-8 col-md-offset-2">
    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) Details</h2>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-condensed borderless">
                    <tbody>
                        <tr>
                            <td>
                                <div><label>Name</label></div>
                            </td>
                            <td>
                                <div>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">
                                <div>@Html.LabelFor(model => model.Email)</div>
                            </td>
                            <td class="col-xs-6">
                                <div>@Html.DisplayFor(model => model.Email)</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>@Html.LabelFor(model => model.PhoneNumber)</div>
                            </td>
                            <td>
                                <div>@Html.DisplayFor(model => model.PhoneNumber)</div>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = Model.ContactId }, new { @class = "btn btn-info btn-block" })</td>
                            <td>@Html.ActionLink("Go to List", "Index", null, new { @class = "btn btn-block btn-danger" })</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>