@model IEnumerable<SchedulerWebApp.Models.Contact>

@section styles
{
    @Styles.Render("~/Content/dataTablesStyles")
}

@{
    ViewBag.Title = "Contacts";
}
<style type="text/css">
    .element-red:hover {
        color: red;
    }

    .add-contact:hover {
        color: #8080FF;
    }
</style>

<div class="row">
    <div class="col-xs-9">
        <p class="heading-paragraph text-center-smallScreen">Contacts</p>
    </div>
    <div class="col-xs-3">
        <p>
            <a class="element-gray add-contact" href="@Url.Action("Create", "Contacts")"><i data-toggle="tooltip" data-placement="bottom" title="Add new contact" class="fa fa-user-plus fa-3x pull-right" aria-hidden="true"></i></a>
        </p>
    </div>
</div>

@if (Model.ToList().Count == 0)
{
    <div class="alert alert-info text-center" role="alert">
        There are no contact in your list yet. You can add a new contact using the button above.
    </div>
}
else
{
    <table class="table footable display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a class="element-gray" href="@Url.Action("Details", "Contacts", new { id = item.ContactId })"><i data-toggle="tooltip" data-placement="top" title="Details" class="fa fa-lg fa-info-circle"></i></a>
                    <a class="element-gray" href="@Url.Action("Edit","Contacts",new {id=item.ContactId})"><i data-toggle="tooltip" data-placement="top" title="Edit" class="fa fa-lg fa-pencil"></i></a>
                    <a class="element-red" href="@Url.Action("Delete", "Contacts", new { id = item.ContactId })"><i data-toggle="tooltip" data-placement="top" title="Delete" class="fa fa-lg fa-trash-o"></i></a>
                </td>
            </tr>
        }

    </table>
}

@section Scripts{
    @Scripts.Render("~/bundles/dataTables");
    @Scripts.Render("~/bundles/custom")

    <script type="text/javascript">
        $(function () {
            makeTableResponsive("footable", 0, 0);
        });

        $("[data-toggle=tooltip]").tooltip();

    </script>
}
