@model IEnumerable<SchedulerWebApp.Models.Contact>

@*@section styles
{
    @Styles.Render("~/Content/dataTables")
}*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table footable display nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ContactId }) |
            <a href="">test</a>
        </td>
    </tr>
    }

</table>
@section Scripts{
    @Scripts.Render("~/bundles/dataTables");
    @Scripts.Render("~/bundles/custom")

    <script type="text/javascript">
        $(function () {
            makeTableResponsive("footable");
        });
    </script>
}
