@model SchedulerWebApp.Models.SchedulerUser

@{
    ViewBag.Title = "Home";
}

<style type="text/css">
    @@media (max-width: 768px) {

        [class*="col-"] {
            margin-bottom: 15px;
        }
    }

    #service-page {
        background: url('../../Images/image1.jpg') no-repeat 50%;
        -ms-background-size: cover;
        background-size: cover;
        position: relative;
        -webkit-box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.78);
        -ms-box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.78);
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.78);
    }

    .left-border {
        border-left: 8px solid darkgrey;
        background-color: lightgray;
    }

    .service-page .service-parts .block i {
        font-size: 80px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    div.left-border h4 {
        font-size: 30px;
    }

    .service-page .service-parts .block p {
        font-size: 40px
    }
</style>


<section id="service-page" class="pages service-page vertical-align">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @Html.Partial("_successAlert")


                <div class="block">
                    <div class="row service-parts">
                        <div class="col-md-4">
                            <a class="unstyled-link" href="@Url.Action( "Index", "Manage")">
                                <div class="left-border block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <i class="ion-ios-home"></i>
                                    <h4>Account</h4>
                                    <p>Manage account </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="unstyled-link" href="@Url.Action("Index","Events")">
                                <div class="left-border block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                    <i class="ion-calendar"></i>
                                    <h4>@Model.Events.Count()</h4>
                                    <p>Events</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="unstyled-link" href="@Url.Action("Index","Contacts")">
                                <div class="left-border block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                                    <i class="ion-ios-people-outline"></i>
                                    <h4>@Model.Contacts.Count()</h4>
                                    <p>Contacts </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/js-cookie/js.cookie.js"></script>
    <script type="text/javascript">

        displayAlert('Message sent! Thank you for contacting us.');

    </script>
}