@using System.Globalization
@model SchedulerWebApp.Models.Event

<!-- #region New Caption -->

<div class="col-sm-4 col-xs-12 ">
    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
        <div class="img-wrapper">
            <img class="img-responsive img-map" alt="Map of @Model.Location">
            <div class="overlay">
                <div class="buttons">
                    <a href="@Url.Action("SendEventsInvitation", "Invitation", new { id = Model.Id })">Invite</a>
                    <a href="@Url.Action("Details", "Events", new { id = Model.Id })">More</a>
                </div>
            </div>
        </div>
        <figcaption>
            <h4>
                <a href="@Url.Action("Details", "Events", new { id = Model.Id })">
                    @Model.Title
                </a>
            </h4>
            <p>
                <span class="location">@Model.Location</span>
            </p>
            <p>
                <span>@Model.StartDate.GetValueOrDefault().ToString("d", new CultureInfo("de-CH"))</span>
            </p>
            <div class="row">
                <p class="col-xs-4 text-center">
                    <span data-toggle="tooltip" data-placement="top" title="Invited" class="badge">@Model.Participants.Count</span>
                </p>
                <p class="col-xs-4 text-center">
                    <span data-toggle="tooltip" data-placement="top" title="Attending" class="badge green-badge">@Model.Participants.Where(p => p.Availability).ToList().Count</span>
                </p>
                <p class="col-xs-4 text-center">
                    <span data-toggle="tooltip" data-placement="top" title="Not attending" class="badge red-badge">@Model.Participants.Where(p => !(p.Availability)).ToList().Count</span>
                </p>
            </div>

        </figcaption>
    </figure>
</div>

<!-- #endregion -->
