@using System.Globalization
@model SchedulerWebApp.Models.Event

<div class="col-sm-4 event-div">
    <div class="thumbnail">
        <div class="caption">
            <h5 class="text-center">@Model.Title.ToUpper()</h5>
            <table class="borderless table table-condensed centered">
                <tbody>
                    <tr>
                        <td class="col-sm-3"><label>Where?</label></td>
                        <td class="col-sm-9">@Model.Location</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><label>When?</label></td>
                        <td class="col-sm-9">@Model.StartDate.ToString("D", new CultureInfo("en-GB"))</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><label>Envitees:</label></td>
                        <td class="col-sm-9"><span class="badge">@Model.Participants.Count</span></td>
                    </tr>

                    <tr>
                        <td class="col-sm-3"><label>Attending:</label></td>
                        <td class="col-sm-9"><span class="badge green-badge">@Model.Participants.Where(p => p.Availability).ToList().Count</span></td>
                    </tr>

                    <tr>
                        <td class="col-sm-3"><label>Absent:</label></td>
                        <td class="col-sm-9"><span class="badge red-badge">@Model.Participants.Where(p => !(p.Availability)).ToList().Count</span></td>
                    </tr>
                </tbody>
            </table>
            <table class="table borderless centered">
                <tr>
                    <td class="col-sm-6">
                        @Html.ActionLink("Details", "Details", "Events", new { id = Model.Id }, new { @class = "btn btn-primary btn-block" })
                    </td>
                    <td class="col-sm-6">
                        @Html.ActionLink("Invite", "SendEventsInvitation", "Invitation", new { id = Model.Id }, new { @class = "btn btn-primary btn-block" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Copy", "CopyEvent", "Events", new { id = Model.Id }, new { @class = "btn btn-primary btn-block" })
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>