@model SchedulerWebApp.Models.Event

@{
    ViewBag.Title = "Delete " + Model.Title;
}
<div class="col-md-8 col-md-offset-2">
    <h2 class="text-danger text-center-smallScreen">You are about to delete @Model.Title</h2>
    <p class="text-center-smallScreen">Are you sure?</p>
    <hr />
    <div class="thumbnail">
        <div class="caption">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="deleteEvent-div">
                        <table class="borderless table table-condensed centered">
                            <tbody>
                                <tr>
                                    <td class="col-sm-3">@Html.LabelFor(model => model.Title)</td>
                                    <td class="col-sm-9">@Html.DisplayFor(model => model.Title)</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3">@Html.LabelFor(model => model.Location)</td>
                                    <td class="col-sm-9">@Html.DisplayFor(model => model.Location)</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3">@Html.LabelFor(model => model.Description)</td>
                                    <td class="col-sm-9">@Html.DisplayFor(model => model.Description)</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3">@Html.LabelFor(model => model.StartDate)</td>
                                    <td class="col-sm-9">@Html.DisplayFor(model => model.StartDate)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--Div details table Row-->
        </div>
    </div>
    <div class="row">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <table class="table borderless centered margin-top">
                <tr>
                    <td class="col-sm-6">
                        <div>
                            <input type="submit" value="Confirm Delete" class="btn btn-default btn-block" />
                        </div>
                    </td>
                    <td class="col-sm-6">
                        <div>
                            @Html.ActionLink("Cancel", "Details", "Events", new { id = Model.Id }, new { @class = "btn btn-default btn-block" })
                        </div>
                    </td>
                </tr>
            </table>
        }

    </div><!--Buttons table row-->
</div><!-- Div content-->
