@model SchedulerWebApp.Models.Event
@section styles
{
    @Styles.Render("~/Content/dataTablesStyles")
}

@{
    ViewBag.Title = Model.Title + " Details";
}

<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center-smallScreen">@Model.Title details</h2>

    @Html.Partial("_successAlert")

    @Html.Partial("_Details")

    <div class="row">
        <div class="col-sm-3  col-xs-12">
            @Html.ActionLink("Invite", "SendEventsInvitation", "Invitation", new { id = Model.Id }, new { @class = "btn btn-info btn-block addButtonMargin" })
        </div>

        <div class="col-sm-3  col-xs-12">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-block addButtonMargin" })
        </div>

        <div class="col-sm-3  col-xs-12">
            @Html.ActionLink("Events", "Index", new { id = Model.Id }, new { @class = "btn btn-info btn-block addButtonMargin" })
        </div>

        <div class="col-sm-3  col-xs-12">
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-block addButtonMargin" })
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/custom")
    <script src="~/Scripts/js-cookie/js.cookie.js"></script>

    <script type="text/javascript">
        $(function() {
            makeTableResponsive("detailsTable", 1, 2);

            grayOutAbsentees();

            toolTipInit();

            displayAlert("Invitations sent.");
        });

        $('#participantTable').on('page.dt', function() {

            $(this).on('draw.dt', function() {
                grayOutAbsentees();
                toolTipInit();
            });

        });


        $(window).bind("load", function() {
            var rowCount = $('#participantTable tbody tr').length;

            if (rowCount >= 5) {
                console.log(rowCount);
                $('.body-div').css({
                    'height': '100%'
                });
            }
        });

    </script>
}
