@model SchedulerWebApp.Models.Event

@{
    ViewBag.Title = Model.Title + " Details";
}

<div class="col-md-8 col-md-offset-2">
    <h2>@Model.Title details</h2>
    <hr/>
    @Html.Partial("_Details")

    <table class="table borderless margin-top">
        <tr>
            <td class="col-sm-3">@Html.ActionLink("Edit", "Edit", new {id = Model.Id}, new {@class = "btn btn-primary btn-block"})</td>
            <td class="col-sm-3">@Html.ActionLink("Delete", "Delete", new {id = Model.Id}, new {@class = "btn btn-primary btn-block"})</td>
            <td class="col-sm-3">@Html.ActionLink("Invite", "SendEventsInvitation", "Invitation", new {id = Model.Id}, new {@class = "btn btn-primary btn-block"})</td>
            <td class="col-sm-3">@Html.ActionLink("Events", "Index", new {id = Model.Id}, new {@class = "btn btn-primary btn-block"})</td>
        </tr>
    </table>
</div>