@model SchedulerWebApp.Models.ViewModels.InvitationViewModel

@{
    ViewBag.Title = "Invite Participant";
}

@{
    var displayValue = "";

    if (!Model.SendRemainder)
    {
        displayValue = "none";
    }
}

@Styles.Render("~/Content/tagIt")

<style type="text/css">
    #contact-section input[disabled] {
        background-color: #eee;
    }
</style>

@Html.Partial("_GlobalPageHeader", ViewData["heading"] = "Send Invitation")

<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Invitations</h2>
                    <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        Send invitations to new participants. You can set a date to remaind the ones who haven't responded.
                    </p>

                    <!-- #region form -->

                    <div class="contact-form">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.EventId)
                            @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "hidden", id = "HiddenDatePickerList" } })

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                                @Html.EditorFor(model => (model.EventTitle), new { htmlAttributes = new { @class = "form-control disabled", disabled = "disabled", title = "Event's title" } })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".9s">
                                @Html.EditorFor(model => (model.EventLocation), new { htmlAttributes = new { @class = "form-control disabled", disabled = "disabled", title = "Event's Location" } })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.1s">
                                @Html.EditorFor(model => (model.EventDate), new { htmlAttributes = new { @class = "form-control disabled", disabled = "disabled", title = "Event's Date" } })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                <div class='input-group date datePickerList'>
                                    @Html.EditorFor(model => model.ListDate, new { htmlAttributes = new { @class = "form-control datePickerList", id = "datePickerList", placeholder = "Date to receive list of participants" } })
                                    <span class="input-group-addon zero-radius">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.ListDate, "", new { @class = "text-danger" })
                            </div>



                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.5s">
                                @Html.EditorFor(model => model.ParticipantsEmails, new { htmlAttributes = new { @class = "form-control ", placeholder = "Enter Emails separated by comma" } })
                                @Html.ValidationMessageFor(model => model.ParticipantsEmails, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group form-group-lg wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.7s">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.SendRemainder, new { @class = "large-checkbox", id = "remainderCheckbox" })
                                        @Html.LabelFor(model => model.SendRemainder, new { id = "labelLgCheckbox" })
                                    </label>
                                </div>
                            </div>

                            <div id="remainderInput" class="form-group" style="display: @displayValue">
                                <div class='input-group date datePickerRemainder'>
                                    @Html.EditorFor(model => model.ReminderDate, new { htmlAttributes = new { @class = "form-control datepicker datePickerRemainder", id = "datePickerRemainder", placeholder = "Date to send remainder(s)" } })

                                    <span class="input-group-addon zero-radius">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.ReminderDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="2.1s">
                                <button id="submitButton" type="submit" class="btn btn-default btn-send  form-control zero-radius form_element-height">Invite</button>
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="2.1s">
                                @Html.ActionLink("Cancel", "Index", "Events", null, new { @class = "btn btn-info zero-radius form-control form_element-height", id = "invitationCancelButton" })
                            </div>

                        }
                    </div>

                    <!-- #endregion -->

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/tagIt")
    @Scripts.Render("~/bundles/dateTimePicker")
    <script type="text/javascript" src="~/Scripts/App/Invitation.SendEventsInvitation.js"></script>
}