@model IEnumerable<SchedulerWebApp.Models.Participant>

<h3>Invitees</h3>

<table id="participantTable" class="table table-responsive table-condensed detailsTable display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Responce)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td class="participantRow">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="availabilityRow">
                @(item.Availability ? "Attending" : "Absent")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @(item.Responce ? "Responded" : "No Response")
            </td>
        </tr>
    }
</table>