@model SchedulerWebApp.Models.ViewModels.UnsavedContactViewModel

<style type="text/css">
    @@media (max-width: 480px) {
        .body-firstRow {
            padding: 40px 80px 40px 80px;
        }
    }

    @@media (max-width: 768px) {
        .save-button {
            margin-bottom: 10px;
        }

        .cancel-button {
            margin-top: 10px;
        }
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #5BC0DE;
    }

    .tooltip.bottom .tooltip-inner {
        background-color: lightgray;
    }

    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: lightgray;
    }

    .glyphicon-large-size {
        font-size: 50px;
    }
</style>

<div id="sentConfirmation" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <i title="Delete" class="fa fa-check-circle-o fa-4x element-green"></i>
                </div>


                <p class="text-center">Invitations were sent.</p>

                @if (Model.Contacts.Count != 0)
                {
                    <p class="text-center">You have @Model.Contacts.Count() unsaved contacts. Do you want save them?</p>
                }
                else
                {
                    <div class="row">
                        <a class="btn btn-info">Close</a>
                    </div>
                }
                <div class="row">
                    <div>
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn btn-info btn-block">Yes</a>
                        </div>
                        <div class="col-sm-6">
                            @Html.ActionLink("No", "Details", "Events", new { id = Model.EventId }, new { @class = "btn btn-danger btn-block" })
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@Html.EditorFor(m => m.EventId, new { htmlAttributes = new { @class = "hidden" } })

@using (Html.BeginForm("AddUnsaved", "Contacts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    var eventId = Model.EventId;
    @Html.HiddenFor(model => model.EventId)

    <h4>Save unsaved emails</h4>

    Html.RenderPartial("_UnsavedContacts", Model);

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <input type="submit" value="Save" class="btn btn-info btn-block" />
        </div>
        <div class="col-sm-6 col-xs-12 cancel-button">
            @Html.ActionLink("Cancel", "Details", "Events", new { id = eventId }, new { @class = "btn btn-danger btn-block" })
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">



        $(document).ready(function () {
            var isPostback = document.referrer.indexOf(document.location.href) > -1;

            console.log(isPostback);

            if (!isPostback) {
                $('#sentConfirmation').modal('show');
            }


        });


        //Todo: need to add a button to delete contact if the uder do not want to save it
        $("[data-toggle=tooltip]").tooltip();

        $('.input-group-addon').hover(function () {
            $(this).children().toggleClass('text-danger');
        });
    </script>
}
